*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #393d46;
}

html,
body {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 0.8fr 5fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'aside section'
    'footer footer';
  min-height: 100vh;
  background-color: #ececec;
}

.bg-primary {
  background-color: #25527b;
}

.text-white {
  color: #fff;
}

header {
  grid-area: header;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

aside {
  grid-area: aside;
  padding: 1rem;
}

section {
  grid-area: section;
  padding: 1rem;
}

footer {
  grid-area: footer;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories a {
  text-decoration: none;
}

.categories a:hover {
  text-decoration: underline;
}

.categories a span {
  color: #9b9da8;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  justify-content: space-between;
}

.item-product img {
  width: 80%;
}

.data-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.item-product .data-product h3 {
  margin: 1rem 0;
}

.item-product .data-product p {
  margin: 1rem 0;
}

.item-product .data-product button {
  width: 100%;
  border: none;
  padding: 8px 0;
}

.item-product .data-product button:hover {
  cursor: pointer;
  background-color: #014585;
  color: #fff;
}